*,
*::before,
*::after {
  box-sizing: border-box;
}

/* set height here to make the header & main-body heights work */
html, body {
    height: 100%;
    margin: 0;
}

/* make the webpage a flex container */
body {
    display: flex;
    flex-direction: column;
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
      
}

/* make the main-body a flex container where elements align horizontally */
.main-body {
    display: flex;    
    flex-direction: row;
    align-items: center; 
  
    height: 100%;
}


/* align header elements */
.header {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: space-between;
    height: 50px;
    /* margin: 0px; */
}

.blog-name {
    
    align-self: center;
    text-align: left;
    margin-left: 10px;
}


/* style the light/dark mode button */
.header button {
    /* display: flex; */
    border-color: transparent;
    background-color: transparent;
    box-shadow: transparent;
    font-size: 20px;
    margin-right: 5px;
    /* justify-content: end; */
    /* text-align: right; */
    /* align-items: end; */
    
}


/* Light Mode */
.light {
    background-color: white;
    color: black;
    height: 100vh;
}

.light .main-body {
    color: black;
    border-top-style: double;
    border-top-width: 10px;
    border-bottom-style: double;
    border-bottom-width: 10px;
}



.light header button:hover {
    background-color: black;
    color: white;
}


.light .footer {
    color: black;
}



/* Dark Mode */
.dark {
    background-color: black;
    color: white;
    height: 100vh;
}

.dark .main-body {
    color: white;
    border-top-style: double;
    border-top-width: 10px;
}


.dark .blog-img {
    border-right-style: double;
    border-right-width: 10px;
}

.dark div button {
    color: black;
    background-color: white;
}

.dark header button:hover {
    background-color: white;
}


.main-body {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.blog-img {
    display: flex;
    flex-direction: row;
    
    width: 50%;
    height: 100%;
    justify-content: center;

}


/* size image on the left */
.blog-img img {
    max-width: 60%;
    height: auto;
    object-fit: contain;
   

}

.blog-form {
    width: 50vw;
    
}

.blog-entry {
    display: flex;
    flex-direction: column;   
    justify-content: center;
   
    width: 100%;
    height: 100%; 
 
}

.intro, .input, .submit {
    margin: 20px;
}


input, textarea, div button {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border-width: 1px;
    color: black;    
    padding: 8px;       
    width: 100%;
    height: 100%;  
}

.input, .header {
    margin-top: 10px;
    margin-bottom: 10px;
}

input #content {
    line-height: 30%;
}


div button {       
    align-items: center;

}


.card {
    /* add to light mode */
    border-color: black;
    border-width: 1px;
}

.footer {
    width: 100%;
    text-align: center;

}

.footer h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.footer ul {
    font-size: 12px;
    text-align: left;
    list-style-type: none;
    margin-top: 0px;
    margin-left: -30px;
}